{% extends "BookShopApp/base.html" %}

{% block title %}Home - BookShop{% endblock %}

{% block content %}


<main class="flex-grow pb-16">
<div class="relative">
<div class="flex min-h-[520px] flex-col gap-6 bg-cover bg-center bg-no-repeat items-center justify-center p-4 text-center" data-alt="Stylized illustration inspired by The Little Prince, showing a small planet with a single rose under a starry sky." style='background-image: linear-gradient(rgba(44, 62, 80, 0.5) 0%, rgba(44, 62, 80, 0.7) 100%), url("https://lh3.googleusercontent.com/aida-public/AB6AXuAeBTRa8EDcETEddU1znwPGfpVSGFJcwAMuuIQlXadC9j_pf3-w50iFAU8IlWgU2D0Gzwwd5mQGdkPWMQy5FvL4H5t3jJNTxrDv65Y44-on9ObmZhOVWZQ4Inmd37DmSPlYnOG1s6S_lDG1xuZNPZwCATdotncUB-hUTRx91TuoyUfNfo585ERSyhUlYYNuPi0UP3MkQlVsJ9X-njLDzfdF8p8ocrWNtNwEguSiggHZGhspM5aAk80I2ORM8RqTveMrEDZvquDLfN5Y");'>
<div class="flex flex-col gap-2">
<h1 class="text-white text-5xl md:text-6xl font-black leading-tight tracking-tighter font-display">BookShop</h1>
<h2 class="text-gray-200 text-lg md:text-xl font-normal leading-normal font-sans">Where every story begins.</h2>
</div>
</div>
</div>
<div class="px-4 sm:px-6 lg:px-8 py-8">
<h2 class="text-primary dark:text-white text-3xl font-bold leading-tight tracking-tight font-display text-center">Popular Picks</h2>
</div>
<div class="px-4 sm:px-6 lg:px-8">
<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-x-4 gap-y-8">
<div class="flex flex-col gap-3 group">
<div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-lg shadow-md group-hover:shadow-xl transition-shadow" data-alt="Book cover of The Midnight Library" style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDEcLQ4EBhKuzfFHHGRncGCSctM1mv3ZiojXAIoNqx8ytc0RvbX-4V6VvrMZ1qAo7SPJ_7RjWHjHaB0aao5xEw_hR31s8U5W0PsA0ortlrpCtWsoKCo6vYG99-bUicHRno6S4gJ36Vpdw0A2X8v4UZc74ciUhlI5ieTYUh3rc1Foum2wZ5G9X3U7UxZxtw77aaLn72sdqJbWg196ndfILMMsv0JBc5q275ng7GTpXqmzjWGVOYKbSnvJS3O0m4iG5J7jArrxw_GrviZ");'></div>
<div>
<p class="text-primary dark:text-gray-200 text-base font-bold leading-normal font-display">The Midnight Library</p>
<p class="text-gray-500 dark:text-gray-400 text-sm font-normal leading-normal font-sans">Matt Haig</p>
</div>
</div>
<div class="flex flex-col gap-3 group">
<div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-lg shadow-md group-hover:shadow-xl transition-shadow" data-alt="Book cover of Project Hail Mary" style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAgnVAX8WrYL0AbDrk9d4vGIpf7yGxfL5IuHfLrBNQookiMkzCS2H9bNT8bVlH_E6oHXgbZuiz_JrGi9pusKKE_YchgRQMUg6MavTtWfPBjUx7maovHnRBp74bVc1FTz4QzZLTKNX0iYG_hrWbbvHgiF86B3ZbAkSsxneHdK1YOVIEj8T0e92JirgUVjJpOkZHQt9l22MNUbdbWzlgNCFLydVFoRQt4sFBZVQKctLQSeqD6fpYQI2bwQ56dNhbPts7bVHMsqX3vfbTX");'></div>
<div>
<p class="text-primary dark:text-gray-200 text-base font-bold leading-normal font-display">Project Hail Mary</p>
<p class="text-gray-500 dark:text-gray-400 text-sm font-normal leading-normal font-sans">Andy Weir</p>
</div>
</div>
<div class="flex flex-col gap-3 group">
<div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-lg shadow-md group-hover:shadow-xl transition-shadow" data-alt="Book cover of Klara and the Sun" style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCip9pQtouECRlVW3LkrpAud8hkWiBk0Ovizg4v7SIwFsuQ5fyXJt0xfYv8SzjDIT4QfYKfqOQ31JkadY2EBrsYkV8bZlm9_K2OgOCIg3ckuXPzRBS-9NfS7tRnrzX741yAQeDagQvRCICgq2-jZe3d4DX7MDFq_B2faZKg3rSE_qMX-NDtRNPhH6uqxgrgKEsoovyVySu09JsvQkaSQT2bXo4tsNdl8-NUOnhvZ9rmKHZ_mwnPhVe-7Wajp4NXsEyD1pvUrVaFhwzK");'></div>
<div>
<p class="text-primary dark:text-gray-200 text-base font-bold leading-normal font-display">Klara and the Sun</p>
<p class="text-gray-500 dark:text-gray-400 text-sm font-normal leading-normal font-sans">Kazuo Ishiguro</p>
</div>
</div>
<div class="flex flex-col gap-3 group">
<div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-lg shadow-md group-hover:shadow-xl transition-shadow" data-alt="Book cover of The Four Winds" style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBbCVJw0H52kxy1dodjSFYsWXyK74vAxowv5VReklWawiRN0sNPoVlS7XptzBN6vT_ks3N4x7a0u1-dAPWVzzO2KmhSwV5nk_9KP8oxSAq40Ur8D3JRfq395hx5TLmX4tTl0PjHrwr4G_tbZHi3bAwp8yhjqK4NZwLviYE6a0BinmHGlSPUg2q4kZeYyx4ER7lOiIvOki_d5NPpfwrdx4KWp7WlqPXvxy2YIvcJ33RZgSAG3cqBQtOgPoJolQ4zU5naLc70tf5lpopQ");'></div>
<div>
<p class="text-primary dark:text-gray-200 text-base font-bold leading-normal font-display">The Four Winds</p>
<p class="text-gray-500 dark:text-gray-400 text-sm font-normal leading-normal font-sans">Kristin Hannah</p>
</div>
</div>
<div class="flex flex-col gap-3 group">
<div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-lg shadow-md group-hover:shadow-xl transition-shadow" data-alt="Book cover of The Lincoln Highway" style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDqdo3sU31N4aB6I7GpoN8jyNjT-ZGT-niOAriBSU8nEbz3mIa_-W-LyXXMe9SrexqxB9KeBdSTugVLfUaAMZ_zBMtpz_hnWO0_sECk5lXRSJ6r8PS0r60wQ4IxT068lECYcbCqyWdR_DxSp6aTMszR9QEZSpAmZFr_tWjC-zNVypC8kTtJjiRdWd-wJkgd4xm8mbMQ439ejMJzxsX2yZw2b0twb6r7kFgKQgllljEOCBafUDko5bS0w2qz2RDJNDjIe2cCvweU9c14");'></div>
<div>
<p class="text-primary dark:text-gray-200 text-base font-bold leading-normal font-display">The Lincoln Highway</p>
<p class="text-gray-500 dark:text-gray-400 text-sm font-normal leading-normal font-sans">Amor Towles</p>
</div>
</div>
<div class="flex flex-col gap-3 group">
<div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-lg shadow-md group-hover:shadow-xl transition-shadow" data-alt="Book cover of Crying in H Mart" style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAF1k-1ebCe1HPKYGwajmEVQdSXQlIpqtAvQYRZBfSVZLRv-gRRrBudccDzvk5HbZIBChCIzArDFKYB3A65bwhpYShz6_BBhZZZmyZlBMZ3uxtdn_KfSYczEmGSbBSnyCtcAmbYDcM8YVUkUkrhU1NaHF9yPrKhDJ_drZtaZmIrnQISmgHJYsdzdP2ltDivsnJu8bwwKRxOSlydl2am_zHYMYIh2q4_2kWxSdW32_qRSXl1lL2a_hvpt0SMFI-7DzrYDnMVBGiF9EEO");'></div>
<div>
<p class="text-primary dark:text-gray-200 text-base font-bold leading-normal font-display">Crying in H Mart</p>
<p class="text-gray-500 dark:text-gray-400 text-sm font-normal leading-normal font-sans">Michelle Zauner</p>
</div>
</div>
</div>
</div>
</main>

{% endblock %}

